<div class="banner">
  <div class="banner-content">
    <h1>Christian Rognstad</h1>
    <p><span id="banner-typed-text"></span></p>
    <a href="#about" class="btn btn-primary btn-lg">About</a>
  </div>
</div>

<div class="container boxes">
  <div class="about" id="about">
    <h2>About</h2>
    <p>
I have been a chef in different restaurants for the last 13 years, and I  have decided to change my career path and to join the tech world. I am currently studying to become a junior full stack developer with Le Wagon Marseille (Bootcamp full stack developer)

I started to study a year ago with Udemy courses and Code Academy but this year I needed to get a professional education in order to improve my skills. I joined the bootcamp the 09th of July and I will be finished the 07th of September.
Le Wagon is a 9 weeks intensive bootcamp focused on Ruby On Rails and Javascript.
I am highly motivated and I am willing to learn more everyday. I am a hard worker and I love team work. I wish to start this new career by finding my first junior programming job.
</p>
  </div>
</div>

<div class="container boxes">
  <div class="skills" id="skills">
    <h2>Skills</h2>

    <div class="row">
      <div class="wrapper-skills">
        <div class="col-xs-12 col-sm-6 col-md-2">
          <div id="rails"></div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-2">
          <div id="ruby"></div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-2">
          <div id="js"></div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-2">
          <div id="html"></div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-2">
          <div id="css"></div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-2">
          <div id="db"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container boxes">
  <h2>Projects</h2>
  <div class="projects" id="projects">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="project-card-1 project">
          <%= link_to 'Pig game', href="https://cricri87.github.io/DOM-pig-game/",target: "_blank" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="project-card-2 project">
          <%= link_to 'Portfolio', href="https://cricri87.github.io/profile/#",target: "_blank" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="project-card-3 project">
          <%= link_to 'Pig game', href="https://cricri87.github.io/DOM-pig-game/",target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="contact" id="contact">
    <h2>Contact</h2>


     <a class="links-contact" href="mailTo:gudim87@hotmail.com"><i class="fas fa-at"></i></a>
     <a class="links-contact" href="https://github.com/cricri87"><i class="fab fa-github-square"></i></a>
     <a class="links-contact" href="https://www.linkedin.com/in/christian-rognstad-4921b4130/"><i class="fab fa-linkedin"></i></a>
     <h4 class="number">Telephone: 0628542044</h4>

  </div>
</div>
