.project-card {
  margin: 20px 20px;
  text-align: center;
  width: 300px;
  height: 300px;
  color: #fff;
  background-image: asset-url('banner.jpeg');
  background-position: center;
  background-size: cover;
  border-radius: 5px;

}

// a {
//   color: black;
//   text-decoration: none;
// }

// a:hover {
//   text-decoration: none;
// }
