.links-contact {
  margin: 20px;
  font-size: 1.8em;
  color: lightgray;

}

.links-contact:hover {
  color: gray;
}

.number {
  padding: 20px 0;
}

.contact {
  background-color: #fff;
  width: 80vw;
  text-align: center;

}
