.skills {

}

#ruby {
  background-image: asset-url('ruby.png');
  background-position: center;
  background-size: cover;
  margin: 20px 20px;
  text-align: center;
  width: 100px;
  height: 100px;
  color: #fff;
}

#rails {
  background-image: asset-url('rails.png');
  background-position: center;
  background-size: cover;
  margin: 20px 20px;
  text-align: center;
  width: 100px;
  height: 100px;
  color: #fff;
}

#db {
  background-image: asset-url('db.jpeg');
  background-position: center;
  background-size: cover;
  margin: 20px 20px;
  text-align: center;
  width: 100px;
  height: 100px;
  color: #fff;
}

#css {
  background-image: asset-url('css3.jpg');
  background-position: center;
  background-size: cover;
  margin: 20px 20px;
  text-align: center;
  width: 100px;
  height: 100px;
  color: #fff;
}

#html {
  background-image: asset-url('html5.png');
  background-position: center;
  background-size: cover;
  margin: 20px 20px;
  text-align: center;
  width: 100px;
  height: 100px;
  color: #fff;
}

#js {
  background-image: asset-url('js.png');
  background-position: center;
  background-size: cover;
  margin: 20px 20px;
  text-align: center;
  width: 100px;
  height: 100px;
  color: #fff;
}
